.image2{
position: absolute;
margin-left: 70px;
margin-right: 50px;
margin-top: 180px;
    z-index: 2;
    width : 90%;
}
.image1 {
    /* position: relative; */
    z-index: 1;
}

.centeredIT {
    position: absolute;
    left: 10%;
    /* transform: translate(-50%, -50%); */
}