* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.text-area {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.navbar {
    color: white;
    display: flex;

    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.btn-1 {
    background-color: #00c6f2;
    padding: 0.7rem;
    font-weight: bold;
    border-radius: 2rem;
}

.x {
    color: #00c6f2;
}

.t-1 {
    font-size: 1.5rem;
}